body {
   text-align: center;
}

html{
   scroll-behavior: smooth;
 }
 

#container-carrito{
   padding-top: 25px;
}

#productos_del_carrito img {
   height: 70px;
   width: 70px;
}

td,tr {
   text-align: center;
}

i {
   color: red;
   font-size: 1.4rem;
   cursor: pointer;
}

#move-caracteristicas{
   transform: translate(0, 25px);
}

.boton-carrito i {
   color: black;
   font-size: 30px !important;
   cursor: pointer;
   transition: 0.3s;
   background-color: rgb(222, 222, 222);
   border-radius: 5px;
   padding-left: 10px;
   padding-right: 10px;
   padding-top: 5px;
   padding-bottom: 5px;
   transition: 0.3s;
 }
 
 .boton-carrito i:hover {
   zoom: 5px !important;
   background-color: black;
   color: white;
   scale: 1.2;
 }
